.footer {
  background-color: #f8f8f8;
  color: #333;
  padding: 20px;
}
.foot_all {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__right {
  text-align: right;
  padding-left: 18%;
}
.footer__text {
  text-align: left;
  font-weight: bold;
  margin: 20px 0;
  line-height: 1.5;
}
.footer__text:nth-child(2) {
  font-size: 14px;
  color: #aaa;
}
.foot_left {
  margin-top: 5%;
  margin-right: 17%;
}
.footer__link {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}
.footer__link:hover {
  color: #aaa;
} 